<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enss.ipfsgate.mapper.FullLogInfoMapper">

    <insert id="insertFullLogInfo" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.enss.ipfsgate.model.threat.FullLogInfo">
        insert into full_log_info
        (
            node_id,log_name,log_date,log_type,log_type_name,log_source,
            ipfs_hash,log_size,ipfs_state,remark
        )
        values
        (
            #{nodeId},#{logName},#{logDate},#{logType},#{logTypeName},#{logSource},
            #{ipfsHash},#{logSize},#{ipfsState},#{remark}
        )
    </insert>

    <update id="updateFullLogInfoChainHash" parameterType="com.enss.ipfsgate.model.threat.FullLogInfo">
        UPDATE
            full_log_info
        SET
            chain_hash = #{chainHash},chain_state = #{chainState},chain_height = #{chainHeight}
        WHERE
            id = #{id}
    </update>

</mapper>