<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enss.ipfsgate.mapper.RepoMapper">

    <resultMap id="baseResultMap" type="com.enss.ipfsgate.model.RepoInfo">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="repo_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="repo_label" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="repo_language" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <resultMap id="repoResultMap" type="java.util.Map">
        <result column="u_id" property="uId" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="u_name" property="uName" javaType="java.lang.String" jdbcType="VARCHAR" />
    </resultMap>
<!--
    <resultMap id="userResultMap" type="com.enss.ipfsgate.model.RepoInfo">
        <id property="id" column="user_id"/>
        <result property="rName" column="username"/>
        <result property="rUser" column="email"/>
    </resultMap>-->

    <!-- 仓库查询 -->
    <select id="search" parameterType="com.enss.ipfsgate.model.RepoInfo" resultMap="repoResultMap">
        SELECT *
        FROM repo
        WHERE repo_name = #{rName,jdbcType=VARCHAR}
    </select>
    <!-- 查询所有仓库 -->
    <select id="selectAll" resultMap="repoResultMap">
        select *
        from repo
    </select>
    <!-- 查询活跃仓库 -->
    <select id="activeRepo" resultMap="repoResultMap">
        SELECT *
        FROM repo
        WHERE repo_name IN (
            SELECT name
            FROM (
                     SELECT repo_name AS name, COUNT(*) AS count
                     FROM apply
                     GROUP BY repo_name
                     ORDER BY count DESC LIMIT 2
            ) AS subquery
        )
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="rId" parameterType="com.enss.ipfsgate.model.RepoInfo">
        insert into repo (repo_name, user_name, repo_label, repo_language)
        values (#{rName,jdbcType=VARCHAR}, #{rUser,jdbcType=VARCHAR},
                #{repo_label,jdbcType=VARCHAR}, #{repo_language,jdbcType=VARCHAR})
    </insert>
    <!-- 查询某人的所有仓库 -->
    <select id="onesRepo" parameterType="String" resultMap="repoResultMap">
        SELECT *
        FROM repo
        WHERE user_name = #{user_name,jdbcType=VARCHAR}
    </select>
    <!-- 查询某人的参与仓库 -->
    <select id="someoneInRepo" parameterType="String" resultMap="repoResultMap">
        SELECT *
        FROM repo
        WHERE repo_name IN (
            SELECT repo_name
            FROM repo_member
            WHERE member_name= #{member_name,jdbcType=VARCHAR}
            )
    </select>
</mapper>